#banner {
  background-color: silver;
  padding-left: 4px;
}

.songs, .controls{
  padding-left: 4px;
}

#player{
  width: 300px;
  border: 1px solid black;
}

h4{
  color: #4e5156
}

h4:hover {
  cursor: pointer;
}

body{
  font-family: 'Lato', sans-serif;

}

.active{
  color: pink;
}
