#banner {
  background-color: silver;
  padding-left: 4px;
}

.songs{
  padding-left: 4px;

}

#player{
  width: 300px;
  border: 1px solid black;
}

h4{
  color: #4e5156
}

h4:hover {
  cursor: pointer;
}

body{
  font-family: 'Lato', sans-serif;

}

.active{
  color: pink;
}

.control {
  padding-left: 4px;
  background-color: #edf1f7;
  text
}

button {
  padding: 5px;
  background-color: #edf1f7 ;
  border-width: 0;
  outline: none;
}
